*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(25, 25, 25);
}

img{
    width: 200px;
    animation: float 4s ease-in-out infinite;
}

.linha{
    color: rgba(255, 255, 255, 0.75);
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.anima{
    animation: cursor 600ms steps(30) infinite normal, texto 3s steps(30) 1s normal both;
}

@keyframes texto {
    from{
        width: 0;
    }
    to{
        width: 9em;
    } 
}

@keyframes cursor {
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    } 
}

@keyframes float {
    0%, 100%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}